<% provide(:title, t('rr')) %>
<h1>Sign up</h1>


<div class="page-content">




   <section class="log-reg container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

       <h2>Login/ register</h2>

          <!--Login-->
          <div class="col-lg-5 col-md-5 col-sm-5">



            <%= render template: "sessions/new" %>



            
          </div>
          <!--Registration-->





<div class="col-lg-7 col-md-7 col-sm-7">
        <%= form_for(@customer, :html => {:class => 'registr-form'}) do |f|  %>

    <div class="form-group group">
      <label for="customer_name"><%= t('form.name') %></label>
      <%= f.text_field :name, class: 'form-control', placeholder: t('form.name') %>
    </div>
    <div class="form-group group">
      <label for="customer_last_name"><%= t('form.lastname') %></label>
      <%= f.text_field :last_name, class: 'form-control', placeholder: t('form.lastname') %>
    </div>

    <div class="form-group group">
      <label for="customer_phone"><%= t('form.phone') %></label>
      <%= f.text_field :phone, class: 'form-control', placeholder: t('form.phone') %>
    </div>

    <div class="form-group group">
      <label for="customer_city"><%= t('form.city') %></label>
      <%= f.text_field :city, class: 'form-control', placeholder: t('form.city') %>
    </div>

    <div class="form-group group">
      <label for="customer_zip_code"><%= t('form.zipcode') %></label>
      <%= f.text_field :zip_code, class: 'form-control', placeholder: t('form.zipcode') %>
    </div>

    <div class="form-group group">
      <label for="customer_address"><%= t('form.address') %></label>
      <%= f.text_field :address, class: 'form-control', placeholder: t('form.address') %>
    </div>

    <div class="form-group group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group group">
      <label for="customer_password"><%= t('form.password') %></label>
      <%= f.password_field :password, class: 'form-control', placeholder: t('form.password') %>
    </div>

    <div class="form-group group">
      <label for="customer_password_confirmation"><%= t('form.confirmation') %></label>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('form.confirmation') %>
    </div>
      <%= f.submit "Register", class: "btn btn-black" %>
    <% end %>
</div>
        
      </section><!--Login / Register Close-->
</div>

