<tr class="item">
	<td><%= line_item.product.name %></td>
	<td><%= line_item.size %></td>
	<td><%= line_item.color %></td>
	<td><%= button_to "-", line_item, method: :delete, class: 'left', remote: true %><span class="left">&#x2002<b><%= line_item.quantity %></b>&#x2002</span><%= button_to "+", line_item, method: :patch, class: 'left', remote: true %></td>
								
	<td class="line_item_price">
	  <%= if !(session[:currency].blank?)

			if session[:currency] == "PLN"
				line_item.total_price_pln.to_s + " zł"
			elsif session[:currency] == "EUR"
				line_item.total_price_eur.to_s+ " €"
			elsif session[:currency] == "GBP"
				line_item.total_price_gbp.to_s+ " £"
			else
				line_item.total_price_pln.to_s + " zł"
			end

		else
			params[:locale] == "en" ? line_item.total_price_eur.to_s + " €" : line_item.total_price_pln.to_s + " zł"
		end
		%></td>
</tr>

		
                    