<tr class="item">
	<td><%= line_item.product.name %></td>
	<td><%= line_item.size %></td>
	<td><%= line_item.color %></td>
	<td><%= button_to "-", line_item, method: :delete, class: 'left', remote: true %> <%= line_item.quantity %>
	<%= button_to "+", add_path(line_item_id: line_item.id), remote: true %></td>
								
	<td class="line_item_price">
	  <%= if !(session[:currency].blank?)

			if session[:currency] == "PLN"
				line_item.total_price_pln.to_s + " zł"
			elsif session[:currency] == "EUR"
				line_item.total_price_eur.to_s+ " €"
			else
				redirect_to root_url
				flash[:notice] = "You prowide wrong currency if you don`t write it by hand pls community with support"
			end

		else
			params[:locale] == "en" ? line_item.total_price_eur.to_s + " €" : line_item.total_price_pln.to_s + " zł"
		end
		%></td>
</tr>

		
                    