    <%= render 'layouts/user' %>
    <!--WIDOK KOSZYKA ITP DO USERA W MENU!!!!!....
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
 -->
    <!--Header-->
    <header data-offset-top="100" data-stuck="150"><!--data-offset-top is when header converts to small variant and data-stuck when it becomes visible. Values in px represent position of scroll from top. Make sure there is at least 100px between those two values for smooth animation-->
    
      <!--Search Form-->
      <form class="search-form closed" method="get" role="form" autocomplete="off">
        <div class="container">
          <div class="close-search"><i class="icon-delete"></i></div>
            <div class="form-group">
              <label class="sr-only" for="search-hd">Search for product</label>
              <input type="text" class="form-control" name="search-hd" id="search-hd" placeholder="Search for product">
              <button type="submit"><i class="icon-magnifier"></i></button>
          </div>
        </div>
      </form>

      <!--Mobile Menu Toggle-->
      <div class="menu-toggle"><i class="fa fa-list"></i></div>

      <div class="container">
        <a class="logo" href=<%= root_url %>><img src="/img/logo-scheme4.png" alt="Limo"/></a>
      </div>
      
      <!--Main Menu-->
      <nav class="menu">
        <div class="container">


          
          <ul class="main">
            <li class="hide-sm"><a><span><%= link_to 'ANG', params.merge({:locale => 'en'}) %></span></a></li> || 
            <li class="hide-sm"><span><%= link_to 'PL', params.merge({:locale => 'pl'}) %></span></li>


            <% if logged_in? %>  

              <a class="login-btn btn-outlined-invert" href='#' ><i class="icon-profile"></i></a>
               <li class="has-submenu login-btn btn-outlined-invert">
              <a href="has-submenu"><span></span>User<i class="fa fa-chevron-down"></i></a>
              <ul class="submenu">
              <li><%= link_to t('account'), current_user %></li>
                <li><%= link_to 'Edytuj profil', edit_customer_path(current_user) %></li>
                <li><%= link_to 'Ulubione', customer_favorites_path %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>

              </ul>
            </li>

            <% else %> 
              <a class="login-btn btn-outlined-invert" href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-profile"></i> <span><%= t('log_account') %></span></a>
            <% end %>

          </ul> 

        </div>

        <%= render 'layouts/menu' %>
      </nav>
        <div class="toolbar-container">
        <div class="container">  
          <!--Toolbar-->
          <div class="toolbar group">


           
           

            <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
          </div><!--Toolbar Close-->
        </div>
      </div>
      
    </header><!--Header Close-->