    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h2>Login or <a href="register">Register</a></h2>
            
          </div>
          <div class="modal-body">
          <form class="login-form">
            <div class="form-group group">
              <%= form_for(:session, url: login_path) do |f| %>
      <label for="qc-email"><%= t("form.in") %></label>
      <%= f.text_field :name, class: 'form-control' %>

      <label for="qc-email"><%= t("form.hp") %></label>
      <%= f.password_field :password, class: 'form-control' %>


    </br>

      <%= f.submit "Log in", class: "btn btn-black" %>

    <% end %>
              <a class="help-link" href="#">Forgot email?</a>
            </div>
            <div class="form-group group">
              
              <a class="help-link" href="#">Forgot password?</a>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div>

          </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    