<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/info' %>
</head>
	<body class="parallax">

  		<%= render 'layouts/header' %>
		      
	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

			<%= yield %>

			
		<%= render 'layouts/footer' %>
	</body> 
</html>
